{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-3">
      <h3>Menu</h3>
      <ul>
        <li>
          <a href="index.html">Strona główna
          </a>        </li>
          <li>
            <a href="form.html">Formularz</a>
          </li>
      </ul>

    </div>
  <div class="col-9">
      <h1 class="headers bold">Witaj w bibliotece!</h1>
      <h2>W panelu znajdującym się w górnej części strony możesz przejść do interesujących Cię książkowych spraw.</h2>
    <p>
      <img src={% static 'images/biblio.jpg' %}>
  </div>
  <p>
    Aktualny użytkownik to: {{ request.user }}
    </p>
    
</div>

{% endblock content %}