{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-3">
      <h3>Menu</h3>
      <ul>
        <li>
          <a href="index.html">Strona główna
          </a>        </li>
          <li>
            <a href="form.html">Formularz</a>
          </li>
      </ul>

    </div>
  <div class="col-9">
      <h1 class="headers bold">Polecam program Drag Race Canada!</h1>
      <h2>Moja ulubiona uczestniczka to Jimbo</h2>
    <p><i class="fas fa-times"></i>
      Oto jej zdjęcie promocyjne</p>
    <a href="https://rupaulsdragrace.fandom.com/wiki/Jimbo"> <img src={% static 'images/jimbo.jpg' %}></a>
    <h5 class="headers">W tym sezonie lubiłam też te queens:</h5>
    <ul>
        <li>Rita Baga</li>
        <li>Scarlet Bobo</li>
    </ul>
  </div>
  <p>
    Aktualny użytkownik to: {{ request.user }}
    </p>
    <p>Aktualny czas: {{ time }}</p>
</div>

{% endblock content %}